@import '../../variables.scss';

.bookings {
  background: #fff;
  height: 100%;
  min-height: $trimmedHeight;

  .container {
    padding-top: 40px;

    .bookings-container {
      width: 100%;
      max-width: 550px;
      margin: auto;
    }

    .page-title {
      width: 100%;
      border: 1px solid #d9d9d9;
      flex: 1;
      display: block;
      padding: 10px 0 10px 16px;
      font-size: 18px;
      font-weight: 600;
      font-family: $lato;

      span {
        margin-left: 5px;
      }
    }

    .collapse {
      width: 100%;

      .panel {
        border: 1px solid #d9d9d9;
        border-bottom: none;

        :first-of-type {
          border-top: none;
        }

        &:last-of-type {
          border-bottom: 1px solid #d9d9d9;
        }

        .panel-header {
          display: flex;
          justify-content: space-between;

          .activity-name {
            font-family: $openSans !important;
            font-size: 16px;
            font-weight: 500;
            color: #000;
          }

          .start-day {
            font-family: $openSans;
            font-size: 14px;
            color: #000;
          }

          .info {
            font-size: 12px;
            color: rgba(#000, 0.7);

            &:last-of-type {
              text-align: right;
            }
          }
        }

        .panel-content {
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .result {
      text-align: center;
      border: 1px solid #d9d9d9;
      border-top: none;

      .anticon {
        color: #c9c9c9;
      }

      .ant-result-title {
        color: #c9c9c9;
      }
    }
  }
}
