@import '../../variables.scss';

$background: rgba(#fff, 0.8);

.navbar {
  background: #000;
  width: 100%;
  padding: 0;

  .navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 400px;
    box-sizing: border-box;
    padding: 0 20px;

    @media (min-width: $sm) {
      max-width: 540px;
      padding: 0;
    }
    @media (min-width: $md) {
      max-width: 720px;
      padding: 0;
    }
    @media (min-width: $lg) {
      max-width: 960px;
      padding: 0;
    }
    @media (min-width: $xl) {
      max-width: 1140px;
      padding: 0;
    }

    .brand {
      text-decoration: none;
      font-family: $quicksand;
      color: #e9e9e9;
      font-size: 16px;

      @media (min-width: $md) {
        font-size: 18px;
      }

      :hover {
        color: #e9e9e9;
      }
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        background: #000;
        border: none;

        .user-name .ant-menu-submenu-title {
          color: #fff;

          .ant-menu-submenu-arrow {
            background: #fff;
          }
        }

        .menu-item {
          font-family: $lato;
          border: none;

          a {
            color: #6e6e6e;
          }

          &.ant-menu-item-selected,
          &:hover {
            border: none;

            a {
              color: #fff;
            }
          }
        }
      }

      .drawer-btn {
        color: #fff;
        border-right: -8px;

        &:hover {
          color: $primary;
        }
      }

      .user-btn {
        cursor: pointer;
        color: #fff;
        font-family: $lato;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}
.user-name .ant-menu-submenu-title {
  font-family: $quicksand;
  font-size: 16px;
  color: #000;
}

.drawer {
  .ant-drawer-header {
    .ant-drawer-title {
      font-family: $lato;
    }
  }
  .drawer-menu {
    .menu-item {
      font-family: $lato;
    }
  }
}
